body{
    font-family: 'Roboto Mono', monospace;
}
h1{
    font-size: 50px;
} 
.name-highlight{
    color: orange;
}
.half-width{
    width: 40px;
    float:right;
    margin: left 5%; 
    padding: left 2%; 
}
.half-width img{
    width: 100%;
}